body {
  font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
  color: #404040;
  width: 100%;
  max-width: 595px;
  margin: 0 auto;
}

img {
  width: 100%;
}

hr {
  border-top: 3px solid #404040;
}