<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBC VR Barriers Project</title>
    <style>{% include "css/styles.css" %}</style>
  </head>
  <body>
    <h1><img src="https://github.com/bbc/vr-barriers-dev/blob/master/images/logo.png?raw=true" alt="BBC VR Barriers Project" /></h1>
    <hr>
    <div class="container">
      {{ content | safe }}
    </div>
  </body>
</html>